<div>
    <fluent-label>Create a ticket : </fluent-label>
    <fluent-text-field appearance="outline" ngDefaultControl [(ngModel)]="title" placeholder="Title"></fluent-text-field>
    <fluent-text-field appearance="outline" ngDefaultControl [(ngModel)]="description" placeholder="Description"></fluent-text-field>
    <fluent-select title="Select a status" (change)="onChange($event)">
        <fluent-option *ngFor="let status of status$ | async" value="{{ status.id }}">{{ status.name }}</fluent-option>
    </fluent-select>
    <fluent-button (click)="createTicket()">Add</fluent-button>
</div>